.card-img-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header {
    color: white;
}
.about-us {
    text-align: center;
}
.what-we-do{
    text-align: center;

}