.card-img-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header {
    color: white;
}
.about-us {
    text-align: center;
}
.what-we-do{
    text-align: center;

}
.portfolio{
    text-align: center;
}
.color{
    background: transparent;
}
textarea{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: transparent;
    color: white;
    resize: none;

}
.contact-us{
    color: white;
}
.card-footer{
    text-align: center;
}
#p-design,#p-development,#p-management{
    display: none;
    text-align: center;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .col-md-3:hover .middle {
    opacity: 1;
  }  
  .col-md-3:hover .card-img {
    opacity: 0.3;
  }
  